/*---------------------------
  Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900');
/*--------------------------------------------------------------
#0.1    Theme Reset Style
--------------------------------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background: #FFFFFF;
    color: #a5a5a5;
}

@media (max-width: 767px) {
    body {
        font-size: 15px;
    }
}

p {
    color: #666;
    line-height: 30px;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    color: #353535;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button,
a:focus {
    outline: none;
}

.section-padding {
    padding: 100px 0;
}

@media (max-width: 991px) {
    .section-padding {
        padding: 90px 0;
    }
}

@media (max-width: 767px) {
    .section-padding {
        padding: 80px 0;
    }
}

/*** back to top **/
.back-to-top {
    background-color: #00D41A;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: 15px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

@media (max-width: 991px) {
    .back-to-top {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
}

.back-to-top:hover {
    background-color: #00D41A;
}

.back-to-top i {
    font-size: 18px;
    font-size: 1.125rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section-padding {
    padding: 100px 0;
}

.ptb-100-70 {
    padding: 100px 0 70px;
}

.btn-style a {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    padding: 10px 28px;
    text-transform: uppercase;
    display: inline-block;
    background: #00D41A;
    box-shadow: 10px 15px 30px rgba(20, 72, 196, 0.35);
    border-radius: 3px;
    color: #fff;
}
.btn-style a:hover {
    background: #00D41A;
    color: #fff;
}

/*===================================
0.2  header-style
====================================*/
.header-area {
    position: absolute;
    left: auto;
    width: 100%;
}

.logo {
    margin-top: 32px;
}

.main-menu .submenu li a {
    padding: 10px 15px 10px 0px;
    color: #fff;
    font-size: 14px;
}

.main-menu nav ul {
    text-align: right;
}

.main-menu nav ul li {
    display: inline-block;
    position: relative;
}

.main-menu nav ul li {
    padding: 40px 18px;
}

.main-menu nav ul li a {
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0;
    text-transform: uppercase;
    position: relative;
}

.main-menu nav ul li a:before {
    position: absolute;
    content: "";
    left: -20px;
    bottom: -20px;
    width: 40px;
    height: 5px;
    background: url(../images/shape.png) center/cover repeat;
    opacity: 0;
    transition: all .5s;
}

.main-menu nav ul li a:hover:before {
    opacity: 1;
    left: 0px;
}

.main-menu nav ul li.active :before {
    opacity: 1;
    left: 0px;
}

.main-menu nav ul li>ul li a {
    color: #333;
}

.main-menu nav ul li>ul li a:hover {
    color: #a9cd2e;
}

.main-menu .submenu,
.profile-menu .submenu {
    position: absolute;
    left: 18px;
    top: 140%;
    z-index: 999;
    width: 235px;
    padding: 10px 0px 15px;
    background: #fff;
    text-align: left;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
}

.main-menu nav>ul>li:hover>.submenu,
.profile-menu ul>li:hover>.submenu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.main-menu .submenu li {
    display: block;
}

.main-menu .submenu li a:before {
    display: none;
}

.main-menu .submenu li {
    padding: 2px 15px;
}

.main-menu li .header-btn {
    display: block;
    padding: 10px 15px;
    background: #00D41A;
    text-align: center;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 3px;

}

.main-menu nav ul li .header-btn:before {
    display: none;
}
.profile-menu-img{
    width:30px;
    height:30px;
    border-radius: 50px;
}

/*==========================
page loader
============================*/
.page-loader {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
}

.page-loader .page-loader-inner {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    border: 4px solid #14bdee;
    top: 50%;
    left: 48%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: loader 2s infinite ease;
    animation: loader 2s infinite ease;
}

.page-loader .page-loader-inner .inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #14bdee;
    -webkit-animation: loader-inner 2s infinite ease-in;
    animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

/*============================================
animated-css
==============================================*/

.bg-animate-shape {
    position: relative
}

.bg-animate-shape:not(.hero) [class*=rect] {
    z-index: 1;
}

.bg-animate-shape .shape1,
.bg-animate-shape .shape5 {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-animation: mover 15s infinite linear;
    animation: mover 15s infinite linear;
}

.bg-animate-shape .shape2,
.bg-animate-shape .shape7 {
    position: absolute;
    left: 25%;
    top: 10%;
    -webkit-animation: rotate3d 4s linear infinite;
    animation: rotate3d 4s linear infinite;
}

.about-shape-1,
.about-shape-2,
.slide-shape {
    -webkit-animation-name: Top;
    animation-name: Top;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.bg-animate-shape .shape3 {
    position: absolute;
    top: 120%;
    right: 5%;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.bg-animate-shape .shape4,
.bg-animate-shape .shape6 {
    position: absolute;
    top: 25%;
    right: 8%;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

.bg-animate-shape .shape5 {
    top: 80%;
    left: 10%;
}

.bg-animate-shape .shape6 {
    top: 90%;
    right: 53%;
}

.bg-animate-shape .shape7 {
    top: 90%;
    left: 93%;
}

@-webkit-keyframes mover {
    0% {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0)
    }

    20% {
        -webkit-transform: translate(73px, -1px) rotate(36deg);
        transform: translate(73px, -1px) rotate(36deg)
    }

    40% {
        -webkit-transform: translate(141px, 72px) rotate(72deg);
        transform: translate(141px, 72px) rotate(72deg)
    }

    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg);
        transform: translate(83px, 122px) rotate(108deg)
    }

    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg);
        transform: translate(-40px, 72px) rotate(144deg)
    }

    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0)
    }
}


@-webkit-keyframes Top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}


@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }

    0% {
        -webkit-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes rotate3d {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0)
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg)
    }
}


/*====================
mobile menu
=======================*/
.slicknav_menu {
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 0;
    z-index: 999;
}

.slicknav_menu ul {
    margin: 0;
}

.slicknav_nav {
    background: #2a2d2d;
    margin-top: 16px;
}

.slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background: #3a3a3a;
}

.slicknav_nav .slicknav_arrow {
    float: right;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
}

.slicknav_btn {
    background-color: transparent;
    position: relative;
    margin-top: -45px;
    margin-top: -30px;
    margin-bottom: 41px;
}

.slicknav_menu .slicknav_icon-bar {
    height: 1px;
    width: 27px;
    margin: 6px 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
}

.slicknav_nav a:hover {
    background: #3a3a3a;
    color: #fff;
}

.header-transparent .slicknav_menu .slicknav_icon-bar {
    background-color: #333;
    box-shadow: none;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(2) {
    opacity: 0;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(2px, 10px);
    transform: rotate(45deg) translate(2px, 10px);
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-9px);
    transform: rotate(-45deg) translateY(-9px);
}

/*header-style-2*/


.header-area-2 {
    position: relative;
    background: #14bdee;
    /*background: linear-gradient(188.24deg, #22D2E1 -32.42%, #14bdee 65.08%);*/
    /*padding: 30px 0;*/
}

.header-area-2 .logo {
    margin-top: 0;
}

.header-area-2 .logo img {
    margin-top: 20px;
}

.header-search form input {
    background-color: transparent;
    height: 50px;
    line-height: 50px;
    color: #fff;
    padding: 6px 20px;
    border: 1px solid #5294F1;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    position: relative;
    border-radius: 40px;
    padding-left: 90px;
}

.header-search form input:focus,
.header-search .submit button:focus {
    outline: none;
    background: none;
    box-shadow: none;
    border: 1px solid #5294F1;
    color: #fff;
}

.header-search .submit button:focus {
    border: none;
}

.header-search .submit button {
    position: absolute;
    left: 18px;
    top: 0;
    background: transparent;
    border: none;
    width: 70px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
}

.header-search ::-webkit-input-placeholder {
    color: #fff;
}

.header-search :-moz-placeholder {
    color: #fff;
}

.header-search ::-moz-placeholder {
    color: #fff;
}

.header-search :-ms-input-placeholder {
    color: #fff;
}

.header-profile {
    text-align: right;
    margin-top: 6px;
}

.header-profile ul li a {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 50px 0;
}

.header-profile ul li a i {
    /*padding: 0 20px;*/
}

.header-profile ul li {
    position: relative;
}

.header-profile ul li .submenu li a {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #575757;
    padding: 0;
    padding-bottom: 15px;
    display: block;
    text-align: left;
}

.header-profile ul li .submenu li a:hover {
    color: #14bdee;
}

.header-profile ul li .submenu li a img {
    padding-right: 15px;
    margin-top: -6px;
}
.header-profile ul li .submenu li a i {
    padding-right: 15px;
    padding-left: 3px;
    margin-top: -6px;
}
.header-profile ul li .submenu {
    background: #FFFFFF;
    box-shadow: -5px 10px 30px rgba(119, 119, 119, 0.25);
    border-radius: 1px;
    width: 270px;
    padding: 30px;
    top: 215%;
}

.profile-menu ul>li:hover>.submenu {
    top: 172%;
    opacity: 1;
    visibility: visible;
}

.header-mark ul {
    display: flex;
    justify-content: center;
}

.header-mark ul li a {
    color: #fff;
    display: block;
    padding: 10px 25px;
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.header-mark ul li a:before {
    position: absolute;
    right: -10px;
    top: 14px;
    content: "\e649";
    font-family: 'Themify';
    font-size: 13px;
    font-weight: 700;
}

.header-mark ul li:last-child a:before {
    display: none;
}

.user-side-menu ul {
    margin-left: 20px;
    margin-top: 40px;
}

.user-side-menu ul li {
    padding-bottom: 20px;
}

.user-side-menu ul li a {
    padding: 0px 15px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #14bdee;
}

.user-side-menu ul li a:hover {
    color: #14bdee;
}

.user-side-menu ul li a img, .user-side-menu ul li a i {
    padding-right: 15px;
    margin-top: -6px;
}

/*hero-area*/

.hero-style-1 {
    background: url(../images/slider/Bg.png) center/cover no-repeat;
    height: 1030px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-height: 1030px;
}

.hero-style-1 .hero-caption h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    color: #FFFFFF;
}

.hero-style-1 .hero-caption p {
    font-family: Lato;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;

}

.hero-style-1 .hero-caption .btns {
    margin-top: 30px;

}

.hero-img {
    position: absolute;
    width: 123%;
    bottom: -50%;
}


/*--------------------------------------------------------------
#0.5  about-section
--------------------------------------------------------------*/
.about-section .content-area {
    overflow: hidden;
    position: relative;
    padding-bottom: 15px;
    padding-top: 100px;
}

.about-section-s2 {
    position: relative;
}


.about-section .left-content {
    width: calc(54% - 150px);
    float: left;
}

@media (max-width: 1199px) {
    .about-section .left-content {
        width: calc(50% - 70px);
        padding-top: 100px;
    }
}

@media (max-width: 991px) {
    .about-section .left-content {
        display: none;
    }
}

.about-section .right-content {
    width: calc(50% + 70px);
    float: right;
    padding: 80px 0 175px;
}

@media (max-width: 1199px) {
    .about-section .right-content {
        padding: 100px 0;
    }
}

@media (max-width: 991px) {
    .about-section .right-content {
        width: 100%;
        float: none;
        padding: 0 0 100px;
    }
}

@media (max-width: 767px) {
    .about-section .right-content {
        padding: 0 0 40px;
    }
}

.about-section .about-content {
    width: 600px;
    margin-right: auto;
}

@media (max-width: 1199px) {
    .about-section .about-content {
        width: 525px;
    }
}

@media (max-width: 991px) {
    .about-section .about-content {
        width: 690px;
        margin: auto;
    }
}

@media (max-width: 767px) {
    .about-section .about-content {
        width: 100%;
        padding: 0 15px;
    }
}

.about-section .about-content .details p {
    margin-bottom: 15px;
}

.section-title span {
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #00D41A;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: block;
    position: relative;

}

.section-title span:before {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #14bdee;
    width: 76px;
    height: 2px;
    content: "";
}

.section-title h2 {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    color: #282828;
    word-spacing: 10px;
    margin-bottom: 15px;
}

@media (max-width: 991px) {
    .about-section .about-content .details p {
        margin-bottom: 3em;
    }
}

.left-content {
    padding-top: 40px;
    position: relative;
    z-index: 1;
}

.about-shape-1 {
    position: absolute;
    left: -37px;
    top: -84px;
    z-index: -1;
    width: 50%;
    height: 50%;
}

.about-shape-2 {
    position: absolute;
    right: 2px;
    top: 7px;
    z-index: -1;
    width: 50%;
    height: 50%;
}


/*=================================
features-area
===================================*/

.features-area {
    background: url(../images/features/bg.png) center center/cover no-repeat local;
    padding: 146px 0 260px;
    height: 100%;
}

.features-item {
    background: #fff;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 6px 30px rgba(189, 189, 189, 0.2);
    border-radius: 4px;
    margin-bottom: 30px;
    border-top: 5px solid #F37171;
    transition: all .3s;
}

.features-item:hover {
    background: #14bdee;
    border-top: 5px solid transparent;
}

.features-item-6 {
    border-top: 5px solid #14bdee;
}

.features-item-2 {
    border-top: 5px solid #4A9FF1;
}

.features-item-3 {
    border-top: 5px solid #BE66F4;
}

.features-item-4 {
    border-top: 5px solid #80EA16;
}

.features-item-5 {
    border-top: 5px solid #E05497;
}

.features-content h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #282828;
    margin-bottom: 18px;
    transition: all .3s;
}

.features-item:hover .features-content h2 {
    color: #fff;
}

.features-content p {
    transition: all .3s;
}

.features-item:hover .features-content p {
    color: #fff;
}

.section-title-2 {
    margin-bottom: 56px;
}

.features-icon {
    width: 60px;
    height: 40px;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
}

.features-icon .active-img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.features-icon .normal-img {
    transition: all .3s;
}

.features-item:hover .features-icon .active-img {
    opacity: 1;
    visibility: visible;
}

.features-item:hover .features-icon .normal-img {
    opacity: 0;
    visibility: hidden;
}

.bg-animate-shape .shape-l {
    top: 50%;
    left: 10%;
}

.bg-animate-shape .shape-b {
    top: 55%;
    left: 85%;
}

/*======================================
work-area
==========================================*/
.work-area {
    padding: 30px 0 40px;
    overflow: hidden;
}

.work-left {
    width: calc(56% - 150px);
    float: left;
    padding-left: 120px;
}

.work-right {
    width: calc(45% - 243px);
    float: left;
    padding-left: 55px;
    padding-top: 45px;
}

@media (max-width: 1199px) {
    .work-right {
        padding: 100px 0;
        width: 35%;
    }
}

@media (max-width: 991px) {
    .work-right {
        width: 100%;
        float: none;
        padding: 0 0 100px;
    }
}

@media (max-width: 767px) {
    .work-right {
        padding: 0 0 40px;
    }
}

@media (max-width: 1199px) {
    .work-left {
        width: 60%;
        padding-left: 40px;
        padding-right: 27px;
    }
}

@media (max-width: 991px) {
    .work-left {
        width: 690px;
        margin: auto;
    }
}

@media (max-width: 767px) {
    .work-left {
        width: 100%;
        padding: 0 15px;
    }
}

.work-single {
    background: #FEAC50;
    text-align: center;
    padding: 60px 30px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    box-shadow: 5px 10px 40px rgba(189, 189, 189, 0.17);
    border-radius: 3px;
    min-height: 240px;
}

.work-single h4 {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.work-single p {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.work-single-2 {
    background: #5CDB3C;
}

.work-single-3 {
    background: #62B2FF;
}

.work-single-4 {
    background: #F26E7E;
}

.work-single span {
    position: absolute;
    left: 26%;
    top: -14%;
    font-weight: 900;
    font-size: 247px;
    line-height: 296px;
    align-items: center;
    text-align: center;
    color: #F39D3B;
    z-index: -1;
    font-family: Lato;
}

.work-single-2 span {
    color: #54D035;
}

.work-single-3 span {
    color: #56A7F5;
}

.work-single-4 span {
    color: #E96474;
}

.work-single-5,
.work-single-3 {
    margin-top: -30px;
}

.bg-animate-shape .shape-n {
    position: absolute;
    top: 80%;
    left: 68%;
    -webkit-animation: mover 15s infinite linear;
    animation: mover 15s infinite linear;
}

.bg-animate-shape .shape-t {
    left: 3%;
}

/*===============================
download-area
===============================*/

.download-area {
    padding: 155px 0 370px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    align-items: center;
    background: url(../images/download-bg.png) center center/cover no-repeat local;
    height: 100%;
}

.download-btn .btn-1 a,
.download-btn .btn-2 a {
    width: 200px;
    height: 75px;
    background: #00D41A;
    box-shadow: 10px 15px 30px rgba(177, 177, 177, 0.35);
    border-radius: 3px;
    display: inline-block;
    line-height: 75px;
    text-align: center;
    color: #fff;
}

.download-btn .btn-1 a {
    margin-right: 15px;
}

.download-btn .btn-2 a {
    background: #14bdee;
}

.download-btn .btn-1 a img,
.download-btn .btn-2 a img {
    margin-right: 10px;
}

.download-btn .btn-2 a img {
    margin-top: -7px;
}

.download-btn {
    display: flex;
    margin-top: 30px;
}

.download-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


/*=================================
footer-area
====================================*/
.footer-area {
    background: url(../images/footer-bg.png) center center/cover no-repeat local;
    height: 100%;
}

.footer-top {
    padding: 190px 0 50px;
}

.footer-text ul {
    display: flex;
}

.footer-text ul li {
    margin-right: 20px;
}

.footer-text ul li a {
    color: #fff;
}

.footer-text p {
    color: #fff;
    padding: 15px 0;
}

.footer-header h2 {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-single ul li a {
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}

.footer-single ul li {
    padding-bottom: 6px;
}

.footer-single {
    padding-left: 60px;
}

.footer-item-2 {
    padding-left: 55px;
}

.footer-bottom {
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #4A75FF;
}

.footer-bottom span {
    color: #fff;
}



/*===============================
category-area
=================================*/
.cat-b {
    background: #fafafa;
}

.category-tab-list .nav {
    display: unset;
    flex-wrap: wrap;
}

.category-tab-list .nav li a.active {
    /*border-left: 6px solid #14bdee;*/
    /*background: #FAFAFA;*/
    border-left: 6px solid #87bdf3;
    background: #e9ecef;
    /*font-weight: bold;*/
    color: black !important;
}

.category-tab-list ul li a {
    padding: 23px 0;
    display: block;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #575757;
    padding-left: 30px;
    border-bottom: 1px solid #F5F1F1;
    border-right: 1px solid #F5F1F1;
    border-left: 6px solid transparent;
}
.category-tab-list img {
    width:20px;
    height: 20px;
}

.category-wrap {
    background: #fff;
    padding-bottom: 50px;
}

.category-tab-list ul li a img {
    margin-right: 25px;
}

.category-tab-list ul li a span {
    width: 29px;
    justify-content: center;
    height: 29px;
    align-items: center;
    display: flex;
    line-height: 21px;
    border: 1px solid #AAAAAA;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
}

.category-tab-list ul li a span i {
    font-size: 13px;
}

.category-tab-list ul li a span img {
    margin-right: 0;
    width: unset;
    height: unset;
}

.category-tab-list .br-b {
    border-bottom: none;
}

.category-single {
    text-align: center;
    padding: 20px 15px;
    border: 1px solid #14bdee;
    border-radius: .25rem;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.category-single:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}

.category-single-2 {
    background: #D87AD8;
}

.category-single-3 {
    background: #7A83DC;
}

.category-single-4 {
    background: #33CCB7;
}

.category-single-5 {
    background: #65B7FF;
}

.category-single-6 {
    background: #FC7988;
}

.category-single-7 {
    background: #70E000;
}

.category-single-8 {
    background: #7E53F9;
}

.category-single-9 {
    background: #DD7178;
}

.category-single-10 {
    background: #8E8D8D;
}

.category-text h2 {
    /*font-weight: bold;*/
    /*font-size: 17px;*/
    /*line-height: 20px;*/
    text-align: center;
    /*color: #FFFFFF;*/
    margin-top: 15px;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 700;
    color: #384158;
}

.category-sub-area {
    padding: 30px;
    padding-left: 0;
}

.category-area .container {
    max-width: 1170px;
}

.category-single .lock {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 21px;
    border: 1px solid #14bdee;
    border-radius: 50%;
    text-align: center;
}

.category-single .lock i {

}

.category-img img {
    width: 50px;
    height: 40px;
}

/*=======================
modal-design
=========================*/

.modal-dialog-centered {
    background: #fff;
    /*padding: 50px;*/
    padding: 20px;
    /*max-width: 1140px;*/
    /*margin: 125px auto;*/
    position: relative;
    /*min-height: 600px;*/
    padding-bottom: 70px;
}

.modal-content {
    border: none;
}

.unlock-area h2 {
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #14bdee;
    text-align: center;
    margin-bottom: 56px;
}

.unlock-box {
    /*width: 549px;*/
    /*height: 372px;*/
    height: 200px;
    border: 1px solid #14bdee;
    margin: auto;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.unloack-header {
    padding: 10px 20px;
    background: #14bdee;
    margin-right: -1px;
    margin-top: -1px;
    margin-left: -1px;
}

.unloack-header ul {
    display: flex;
    justify-content: space-between;
}

.unloack-header ul li {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.unlock-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
    text-align: center;
}

.unlock-body span {
    font-weight: 700;
}

.unlock-body span img {
    margin-right: 15px;
}

.unlock-btn {
    display: flex;
    justify-content: center;
    /*margin-top: 40px;*/
    /*margin-bottom: 40px;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

.unlock-btn button {
    /*width: 200px;*/
    /*height: 50px;*/
    /*line-height: 75px;*/
    padding: 5px 15px;
    background: linear-gradient(208.55deg, #00DDBB 16.18%, #00CAAB 80.62%);
    box-shadow: 4px 10px 15px rgba(196, 196, 196, 0.25);
    border-radius: 6px;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    border: none;
    margin: 0 17px;
    opacity: 1;
    margin-left: 0;
    text-shadow: none;
    cursor: pointer;
}

.unlock-btn button:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.unlock-btn .btn-cl {
    background: linear-gradient(212deg, #F4727D 11.88%, #DE338C 97.79%);
    margin-right: 0;
    /*margin-left: 17px;*/
}

.btn-cl:hover {
    opacity: 1;
    color: #fff;
}

.footer-another {
    text-align: center;
}

.footer-another span {
    font-weight: normal;
    font-size: 13px;
    color: #14bdee;
}

#footer {
    /*height: 100px;*/
    color: #fff;
    text-align: center;
    background: #14bdee;
    width: 100%;
    line-height: 30px;
    position: absolute;
    padding-top: 20px;
}
#footer ul li a,
#footer ul li span {
    color: #fff;
}
.footer-up ul li{
    display: inline-block;
}
/*====================
chemistry-area
======================*/

.chemistry-wrap {
    background: #fff;
    padding: 50px 0;
    padding-bottom: 202px;
    position: relative;
    z-index: 11;
}

.chemistry-wrap:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../images/bg.png) center center/cover no-repeat local;
    z-index: -1;
    opacity: .8;
}

.chemistry-item h2 {
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #14bdee;
    /*margin-bottom: 70px;*/
    margin-bottom: 30px;
}

.chemistry-item ul {
    border: 1px solid #d8d8d8;
    border-bottom: none;
}

.chemistry-item ul li {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #d8d8d8;
}

.question-header ul {
    display: flex;
    justify-content: space-between;
    padding: 0 120px 47px;
    border-bottom: 1px dotted #bbb;
    align-items: center;
}

.question-header ul li img {
    margin-right: 20px;
}

.question-item {
    padding-top: 40px;
}

.que-img {
    text-align: center;
    margin-bottom: 20px;
}

.question-item h4 {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #575757;
    text-align: center;
    margin-bottom: 40px;
}

.question-item .que-btn a {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #575757;
    display: block;
    border: 1px dotted #D0D0D0;
    border-radius: 2px;
    margin-bottom: 45px;
    height: 120px;
    line-height: 120px;
    overflow: hidden;
}
.question-item .que-btn a img {
    height: 120px;
    line-height: 120px;
    object-fit: contain;
    width: 100%;
    margin-top: -9px;
}

.question-item .que-btn a:hover {
    color: #14bdee;
}

.question-btn button {
    width: 340px;
    margin-top: 0;
}

.question-btn {
    margin-top: 0;
}

.question-btn .btn-qu {
    background: linear-gradient(219.13deg, #22D2E1 -39.36%, #14bdee 97.45%);
}

.que-btn-2 a {
    background: #00D41A;
    color: #fff !important;
}

.que-btn-3 a {
    background: #EC4848;
    color: #fff !important;
}

/*===================================
point-moadal
====================================*/

.point-moadal {
    margin: 125px auto;
    position: relative;
    width: 826px;
    max-width: 826px;
}

.point-moadal .modal-content {
    position: relative;
    z-index: 11;
    min-height: 560px;
    padding: 105px 50px;
    text-align: center;
}

.point-moadal .modal-content:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../images/que/md.png) center center/cover no-repeat local;
    z-index: -1;
    opacity: .2;
}

.point-moadal .modal-content .modal-b {
    position: absolute;
    right: -30px;
    top: -30px;
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    font-size: 24px;
    border: none;
    color: #FF0000;
    opacity: 1;
    border-radius: 50%;
}

.point-modal-area h2 {
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #14bdee;
    font-family: 'Aladin', cursive;


}

.point-m .point-b {
    font-weight: normal;
    font-size: 0px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Aladin', cursive;
    display: flex;
    width: 292px;
    height: 188px;
    background: url(../images/que/mt.png) center center/cover no-repeat local;
    line-height: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.point-b span {
    display: inline-block;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
}
.point-b .earn-poin-s{
    display: flex;
}
.point-b .earn-poin-p{
  margin-bottom: 30px;
}
/*====================================
profile-area
======================================*/

.profile-wrap {
    padding: 40px;
    background: #fff;
}

.pro-details {
    background: #14bdee;
    padding: 80px 50px 55px;
    margin-bottom: 30px;
}

.pro-img {
    text-align: center;
    position: relative;
    /*width: 112px;*/
    /*height: 112px;*/
    z-index: 11;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 50%;
}

.pro-img:before {
    position: absolute;
    left: -11px;
    top: -11px;
    content: "";
    /*width: 120%;*/
    /*height: 120%;*/
    background: #416DFB;
    z-index: -1;
    border-radius: 50%;
}

.pro-img:after {
    position: absolute;
    left: -23px;
    top: -23px;
    content: "";
    /*width: 140%;*/
    /*height: 140%;*/
    background: rgba(65, 109, 251, 0.48);
    z-index: -1;
    border-radius: 50%;
}
.pro-img img{
    border-radius: 72px;
    width:150px;
    height:150px;
}

.pro-text {
    text-align: center;
}

.pro-text h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.pro-text span {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.pro-item {
    background: #FF6766;
    padding: 20px;
}

.pro-item-2 {
    background: #F9AF56;
}

.pro-item-3 {
    background: #8FE254;
}

.pro-item h4 {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

.pro-item span {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    display: block;
}

.profile-item-header ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 27px;
    border-bottom: 1px solid #ECF0FF;
}

.profile-item-header ul li {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #575757;
}


.profile-item-header ul li a {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #14bdee;
}

.profile-content{
  padding-top: 0px;
}
.profile-content .span-email {
    width: 100%;
    /*height: 70px;*/
    border: 1px solid #14bdee;
    background: #F7F9FD;
    box-sizing: border-box;
    /*border-radius: 142px;*/
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #575757;
    line-height: 35px;
    padding-left: 20px;
}
.profile-content span{
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #575757;
    /*padding-left: 30px;*/
  margin-bottom: 13px;
  display: block;

}
.profile-content p, .profile-content input {
    background: #F7F9FD;
    /*border: 1px solid #ECF0FF;*/
    /*box-sizing: border-box;*/
    /*border-radius: 142px;*/
    font-weight: bold;
    /*font-size: 16px;*/
    letter-spacing: 0.02em;
    /*color: #575757;*/
    height: 70px;
    line-height: 40px;
    padding-left: 20px;
    width: 100%;
    height: 46px;
    border: solid 1px #14bdee;
    border-radius: 3px;
    padding-left: 20px;
    outline: none;
    color: #384158;
    font-size: 14px;
}
.profile-content input {
    width: 100%;
    /*height: 70px;*/
    border: 1px solid #14bdee;
}
.profile-content input:focus{
  outline: none;

}
.profile-content-edit{
    margin-top: 20px;
}
.pr-head {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #575757;
    margin: 10px 0;
}

.profile-item-header-2 ul li {
    color: #14bdee;
}
.profile-item-header-2 ul li a{
  color: #00D41A;
}
.pro-chart {
    background: #fff;
    margin-top: 30px;
    padding: 40px;
}


canvas {
    background: #fff;
}


.view-pro h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #575757;
    margin-bottom: 40px;

}



.profile-wrap-2{
    background: #fff;
    padding-bottom: 130px;
    position: relative;
    z-index: 11;
}
.profile-wrap-2:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../images/bg.png) center center/cover no-repeat local;
    z-index: -1;
    opacity: .8;
}
.user-header .nav-tabs{
  border-bottom: none;
  justify-content: center;
}

.user-header .nav-tabs li a {
    /*display: block;*/
    /*!*width: 250px;*!*/
    /*!*height: 65px;*!*/
    border: 1px solid #EBF0FF;
    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px;
    /*line-height: 65px;*/
    /*text-align: center;*/
    color: #14bdee;
    font-weight: 500;
    font-size: 18px;
}
.user-header .nav-tabs li a.active {
    background: #14bdee;
    color: #fff !important;
}
.leader-wrap td, .leader-wrap th {
    width: 8%;
    text-align: center;
    font-weight: 400;
    color: #414141;
    padding: 10px;
}
.leader-wrap td{
   border-bottom: 1px solid #EFEFFE;
}
.leader-wrap th {
    background: #14bdee;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    /*line-height: 24px;*/
    color: #fff;
    padding: 10px;
}
.leader-wrap {
    padding: 20px;
}
.leader-wrap tr:nth-child(even) {
    background: #FCFCFE;
}
.leader-wrap td ul{
  display: flex;
  align-items: center;
}
.leader-wrap td ul li{
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #575757;
}
.leader-wrap td ul li img{
  margin-right: 12px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.leader-wrap td.color-1{
  color:#00D41A;
}
.leader-wrap td.color-2{
  color:#33A9F4;
}
.leader-wrap td.color-3{
  color:#F39D3B;
}
.pagination-wrapper ul{
  display: flex;
  justify-content: center;
}
.pagination-wrapper ul li a, .pagination-wrapper ul li span {
    height: 44px;
    width: 44px;
    line-height: 44px;
    background: #DBDBFD;
    color: #fff;
    display: inline-block;
    margin-right: 2px;
    border-radius: 50%;
}
.pagination-wrapper ul li a:hover {
    background: #14bdee;
}
.pagination-wrapper ul li span{
  background: none;
  color:#575757;
}
.pagination-wrapper ul li a.next {
    background: #14bdee;
}
.leader-simple{
  padding-bottom: 30px;
}

.coin-wrap {
    padding: 15px;
    background: #fff;
}
.coin-header{
  padding: 30px 60px;
  background: #EFF2F9;
}
.coin-header ul{
  display: flex;
  justify-content: space-between;
}
.coin-header ul li{
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #575757;
 }
 .coin-header ul li span {
     color: #14bdee;
 }
 .coin-top{
  padding-bottom: 51px;
  border-bottom:1px dotted #707070; 
 }
 .coin-select input,.coin-select select {
     width: 100%;
     background: #FCFCFE;
     border: 1px solid #E3E8FE;
     box-sizing: border-box;
     border-radius: 1px;
     height: 50px !important;
     padding: 0 20px;
     font-weight: bold;
     font-size: 18px;
     color: #666666;
     /*margin-bottom: 21px;*/
 }
.coin-select select{
    background: #FCFCFE url(../images/Vector.png) no-repeat calc(100% - 15px) center;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.coin-select input:focus,
.coin-select select:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #E3E8FE;
    background: #FCFCFE;
}
.coin-select select:focus {
    background: #FCFCFE url(../images/Vector.png) no-repeat calc(100% - 15px) center;
}
 .coin-select label{
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  margin-bottom: 21px;
 }

.coin-sub h2{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 179.76%;
  color: #575757;
  margin: 45px 0;
}

.payment-select h4{
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  margin-bottom: 19px;
}
.payment-select ul{
  display: flex;
}
.payment-select ul li{
  margin-right: 20px;
}
.payment-select ul li input{
  padding-right: 10px;
}

.submit-btn-area button {
    width: 150px;
    height: 60px;
    /*line-height: 75px;*/
    background: linear-gradient(219.13deg, #22D2E1 -39.36%, #14bdee 97.45%);
    box-shadow: 4px 10px 15px rgba(196, 196, 196, 0.25);
    border-radius: 6px;
    font-weight: bold;
    font-size: 21px;
    color: #FFFFFF;
    border: none;
    /*margin: 0 17px;*/
    opacity: 1;
    margin-left: 0;
    text-shadow: none;
    cursor: pointer;
    /*margin-top: 30px;*/
}
.submit-btn-area a {
    width: 150px;
    height: 60px;
    /*line-height: 75px;*/
    background: linear-gradient(219.13deg, #22D2E1 -39.36%, #14bdee 97.45%);
    box-shadow: 4px 10px 15px rgba(196, 196, 196, 0.25);
    border-radius: 6px;
    font-weight: bold;
    font-size: 21px;
    color: #FFFFFF;
    border: none;
    /*margin: 0 17px;*/
    opacity: 1;
    margin-left: 0;
    text-shadow: none;
    cursor: pointer;
    /*margin-top: 30px;*/
}

.btn-refreal-custom {
    width: auto !important;
    height: auto !important;
    background: linear-gradient(219.13deg, #22D2E1 -39.36%, #14bdee 97.45%) !important;
    box-shadow: 4px 10px 15px rgba(196, 196, 196, 0.25) !important;
    border-radius: 6px !important;
    font-size: medium !important;
    text-align: center !important;
}

.btn-refreal-custom:hover {
    box-shadow: 4px 20px 20px rgba(196, 196, 196, 0.25) !important;
    color: white;
}

.que-img img {
    display: block;
    text-align: center;
    margin: auto;
}

.que-img .secound-img {
    width: 460px;
    height: 255px;
    margin-top: 20px;
}
.category-sub-area-p{
    padding-left: 30px;
}

.category-sub-area-p .category-single {
    /*height: 150px;*/
    /*min-height: 150px;*/
}

.category-single .category-text h2 {
    color: #414141;
}

.category-single .category-text ul {
    color: #384158;
}

.jq-toast-wrap {
    top: 20px;
    left: auto !important;
    right: 20px;
    min-width: 300px;
}
.modal-dialog-question{
    max-width: 720px;
}
.modal-dialog-question .unlock-box {
    width: 550px;
    height: 152px;
}
.modal-dialog-question .unlock-body {
    height: 100%;
}
.sticky-header {
    width: 100%;
    z-index: 99;
    position: fixed;
}
.sticky-header.sticky .header-area {
    background: #14bdee;
}

.cmt-button a {
    display: inline-block;
    padding: 5px 15px;
    position: absolute;
    /*left: -45px;*/
    top: 40px;
    border-radius: 40px;
    color: #fff;
    line-height: 20px;
    padding-bottom: 7px;
    background: linear-gradient(219.13deg, #22D2E1 -39.36%, #14bdee 97.45%);
}

/* remove remove button from dropify drag and drop */
.dropify-wrapper.has-preview .dropify-clear {
    display: none;
}
.left-menu-p{
    padding-left: 20px;
}
.pro-edit-btn .btn-qu{
  border-radius: 40px;
  height: 60px;
  line-height: 60px;
}
.profile-item-header{
    margin-bottom: 15px;
}
.pro-edit-btn-2 button {
    width: 144px;
    margin-top: 0;
    font-size: 20px;
}
.pro-edit-btn-2{
    justify-content: flex-start;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 20px 20px !important;
}
[type=search] {
    outline-offset: -2px;
    -webkit-appearance: listbox !important;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: none!important;
}

table.dataTable.no-footer {
    border-bottom: none !important;;
}

.main-body {
    margin-top: 100px;
}
